apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    k8s-app: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      k8s-app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        k8s-app: {{ .Release.Name }}
    spec:
      containers:
        - name : {{ .Release.Name }}
          image: {{ .Values.container.image }}
          imagePullPolicy: Always
          env:
            - name: APP_ENV
              value: {{ .Values.env.mode | quote }}
            - name: CONTAINER_GRPC_PORT
              value: {{ .Values.env.ports.grpc | quote }}
            - name: CONTAINER_HEALTH_PORT
              value: {{ .Values.env.ports.health | quote }}
          ports:
            - containerPort: {{ .Values.ports.grpc }}
            - containerPort: {{ .Values.ports.health }}
          livenessProbe:
            httpGet:
              path: /health
              port: {{ .Values.ports.health }}
            initialDelaySeconds: 10
            timeoutSeconds: 5
