apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  labels:
    k8s-app: {{ .Release.Name }}
    app.kubernetes.io/name: "{{ .Release.Name }}"
    helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    app.kubernetes.io/managed-by: "Helm"
    app.kubernetes.io/instance: "{{ .Release.Name }}" 
spec:
  type: ClusterIP
  ports:
    - name: grpc
      protocol: TCP
      port: {{ .Values.ports.grpc }}
      targetPort: {{ .Values.ports.grpc }}
    - name: health
      protocol: TCP
      port: {{ .Values.ports.health }}
      targetPort: {{ .Values.ports.health }}
  selector:
    k8s-app: {{ .Release.Name }}
