name: production image build

on:
  release:
    types: 
      - published

jobs:
  build_new_image:
    name: build new image on release
    runs-on: ubuntu-latest
    steps:
      - name: get latest tag
        uses: oprypin/find-latest-tag@v1
        with:
          repository: invenlore/user.service
        id: get_tag

      - name: checkout service
        uses: actions/checkout@v4
        with:
          repository: invenlore/user.service
          ref: ${{ steps.get_tag.outputs.tag }}

      - name: update image tag in docker-compose.yaml
        uses: fjogeleit/yaml-update-action@main
        with:
          repository: invenlore/user.service
          valueFile: "docker-compose.yaml"
          propertyPath: "services.user-service.image"
          value: "invenlore/invenlore-user-service:${{ steps.get_tag.outputs.tag }}"
          commitChange: true
          message: "ci(release): make release ${{ steps.get_tag.outputs.tag }}"
          branch: "master"
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: login to docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: setup docker buildx
        uses: docker/setup-buildx-action@v3

      - name: setup go build cache
        uses: actions/cache@v4
        with:
          path: go-build-cache
          key: ${{ runner.os }}-go-build-cache-${{ hashFiles('**/go.sum') }}

      - name: inject go-build-cache
        uses: reproducible-containers/buildkit-cache-dance@v2
        with:
          cache-source: go-build-cache

      - name: build and push
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            invenlore/invenlore-user-service:stable
            invenlore/invenlore-user-service:master
            invenlore/invenlore-user-service:${{ steps.get_tag.outputs.tag }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: dokploy deployment
        uses: benbristow/dokploy-deploy-action@0.0.1
        with:
          auth_token: ${{ secrets.DOKPLOY_AUTH_TOKEN }}
          application_id: ${{ secrets.DOKPLOY_COMPOSE_ID }}
          dokploy_url: ${{ secrets.DOKPLOY_URL }}
