name: production image build

on:
  release:
    types: 
      - published

permissions:
  contents: write

jobs:
  update_helm_values:
    name: update helm values on new release
    runs-on: ubuntu-latest
    steps:
      - name: get latest tag
        uses: oprypin/find-latest-tag@v1
        with:
          repository: invenlore/user.service
        id: get_tag

      # TODO: Migrate to Teams plan
      # - name: checkout
      #   uses: actions/checkout@v4
      #   with:
      #     repository: ivankprod/invenlore.user.service.delivery

      # - name: update image tag in values.yaml
      #   uses: fjogeleit/yaml-update-action@main
      #   with:
      #     repository: ivankprod/invenlore.user.service.delivery
      #     valueFile: ".helm/values.yaml"
      #     propertyPath: "container.tag"
      #     value: "${{ steps.get_tag.outputs.tag }}"
      #     commitChange: true
      #     message: "ci(release): make release ${{ steps.get_tag.outputs.tag }}"
      #     branch: "master"
      #     token: ${{ secrets.INVENLORE_CI_TOKEN }}
